.projects-section {
    padding: 2rem;
    background-color: #FEF9E7; /* Fondo crema para el contenido */
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1rem;
  }
  
  .project-card {
    background-color: #FFF; /* Fondo blanco para las tarjetas */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card img {
    width: 100%;
    height: 150px; /* Altura fija para la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionar */
  }
  
  .project-content {
    padding: 1rem;
    flex: 1;
  }
  
  .project-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .project-description {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  .project-link {
    color: #FFD700;
    text-decoration: none;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  