.hero-title {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #333;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
  width: fit-content;
}

@keyframes typing {
  from { width: 0; }
  to { width: 35%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

.hero-title.typing-complete {
  border-right: none;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  background-color: white;
}

.hero-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-image p {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  max-width: 80%;
}

.hero-image img {
  width: 300px;
  object-fit: cover;
  border-radius: 1%;
}

.hero-title {
  font-size: 2rem;
  margin: 0;
}

.hero-description {
  font-size: 1.25rem;
  margin: 1rem 0 0;
}

.projects-section {
  padding: 2rem;
  background-color: white;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.contact-section {
  padding: 2rem;
  background-color: white;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.contact-section a {
  color: #973aa8
  ;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}
