
header {
    background-color: #FEF9E7; /* Fondo crema */
    color: #333; /* Color de texto oscuro */
    padding: 1.5rem 2rem; /* Aumenta el padding general */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Agrega margen a la derecha del nav para más espacio */
  }
  
  nav ul {
    display: flex;
    gap: 1rem; /* Espacio entre los elementos de la lista */
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
  }
  
  nav a {
    color: #333; /* Color de texto oscuro */
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1.5rem; /* Aumenta el padding para más espacio alrededor del texto */
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  nav a:hover {
    background-color: #ddd; /* Color de fondo en hover */
    border-color: #333;
  }
  