header {
  background-color: #FFF;
  color: #333;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  border-color: #333;
}
